<div class="card mb-2">
  <div class=" col-12 card-body">
    <div class="row clearfix">
      <div class="col-8">
        <h5 class="card-title">Account list</h5>
      </div>
      <div class="col-4">
        <button class="btn btn-primary btn-sm float-right " routerLink="/add-account">Add new account</button>
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Account</th>
          <th scope="col">Account balance</th>
          <th scope="col">Account currency</th>
          <th scope="col">Account balance in EUR</th>
          <th scope="col">View stock</th>
          <th scope="col">Add stock</th>
          <th scope="col">Add/withdraw funds</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          
          <td scope="row">{{account.accountName}}</td>
          <td scope="row">{{account.balance}}</td>
          <td scope="row">{{account.currency    }}</td>
          <td scope="row">{{account.balance*1.1}}</td>
          <td scope="row"><button class="btn btn-primary btn-sm float-right " (click)="goToAccountStockList(account.id)">View stocks</button></td>
          <td scope="row"><button button class="btn btn-primary btn-sm float-right " (click)="goToAddStock(account.id)">Add Stock</button></td>
          <td scope="row"><button button class="btn btn-primary btn-sm float-right " (click)="goAddWithdraw(account.id)">Add/withdraw funds</button></td>
        
        </tr>
        
      </tbody>
    </table>

  </div>
</div>